<!-- <mat-toolbar  class="toolBar" color="primary">

    <span class="toolbar-spacer"></span>

    <div class="right-align-content">
        <mat-form-field class="full-width">
         <mat-label>Select Color</mat-label>
          <mat-select  [value]="selectedLanguageDisplay" (selectionChange)="onChange($event.value)"  #selectedValue >
                <mat-option *ngFor="let lang of getLanguageList" [value]="lang.name">
                     {{ lang.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-toolbar> -->
<div class="right-align-content">
        <mat-form-field class="full-width">
         <mat-label>Select Color</mat-label>
          <mat-select  [value]="selectedLanguageDisplay" (selectionChange)="onChange($event.value)"  #selectedValue >
                <mat-option *ngFor="let lang of getLanguageList" [value]="lang.name">
                     {{ lang.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

