<!-- <div class="grid gap-4 m-4 sm:grid-cols-3 ">
  <div class="min-h-[100px] rounded bg-orange-500 shadow-xl"></div>
  <div class="min-h-[100px] rounded bg-teal-500 shadow-xl"></div>
  <div class="min-h-[100px] rounded bg-red-500 shadow-xl"></div>
</div> -->

<!-- <div class="grid gap-4 m-4 sm:grid-cols-12 ">
  <div class="min-h-[100px] rounded bg-orange-500 shadow-xl sm:col-span-2 hidden sm:block"></div>
  <div class="min-h-[100px] rounded bg-teal-500 shadow-xl sm:col-span-8"></div>
    <div class="min-h-[100px] rounded bg-red-500 shadow-xl sm:col-span-2"></div>

</div>
 -->
<div class="flex flex-wrap items-start justify-start">
  <!-- <div class="card border border-blue-400 rounded-xl p-3 m-2 shadow-md bg-white flex flex-col gap-2 w-[22%] max-w-sm scale-90 origin-top-left"> -->
  <div class="card border-2 border-blue-500 rounded-xl p-2 m-2 shadow-md bg-white flex flex-col gap-1 
  w-[22%]  text-[13px] "  style="border: 2px solid blue;" >


    <!-- <div class="card border border-blue-400 rounded-xl p-2 m-2 shadow-md bg-white flex flex-col gap-2 w-[23%] sm:w-[280px] md:w-[300px] text-[12px]"> -->
    <!-- Header Section -->
    <div class=" header flex justify-between items-center w-full flex-col ">
      <div class="headerR1 flex justify-between items-center w-full ">
        <div class="w-2/5 h-5">
          <p class="block overflow-hidden text-ellipsis whitespace-nowrap text-lg font-semibold text-gray-900">
            FEDEX EXPRESS SERVICE
          </p>
        </div>
        <div class="headerR1-Span flex justify-end items-center w-4/5 space-x-4">
          <span class="bg-blue-400 text-white text-sm font-semibold px-2 py-1 rounded">10111</span>
          <span class="material-symbols-outlined">more_vert</span>
        </div>
      </div>
      <div class="headerR2 flex flex-wrap items-center justify-start w-full space-x-2 pt-4">
        <div class="rounded-full bg-yellow-300 text-white flex items-center justify-center font-bold size-10">RR</div>
        <div class="robker flex flex-wrap items-start justify-center space-x-3 ">
          <span class="R2name text-sm font-bold ">ROBKER, 34</span>
          <span class="fi fi-de mt-1 "></span>
        </div>
      </div>
      <div class="headerR3 flex items-center  justify-strat  gap-2 text-gray-700 text-xs  md:w-full  pl-11 h-[0.5rem]">

        <div class="flex items-center gap-1 bg-black px-2 py-0.5 rounded-md">
          <span class="material-symbols-outlined text-sm  text-white">mobile_vibrate</span>
          <span class=" text-white text-sm font-semibold ">15</span>
        </div>

        <span class="bg-orange-400 text-white text-xs font-bold px-2 py-1 rounded-md hover:bg-orange-500 ">ADR</span>

        <div class="flex items-center gap-1 overflow-hidden text-gray-500">
          <span class="material-symbols-outlined ">schedule</span>
          <div class=" text-sm font-bold text-gray-500">20 Días 16:56 h</div>
        </div>

      </div>
    </div>

    <!-- Main Section -->
    <div class=" main border-t mt-2">
      <div class="main-1 flex flex-wrap items-center justify-start w-full flex-row gap 1 mt-3 space-x-4 ">
        <div
          class="main-dot-first rounded-full bg-blue-400 text-black flex items-center justify-center font-bold size-5 ">
          1</div>
        <div class="main-number-field text-sm font-bold ">FO 9610044308</div>
        <div
          class="main-dot-second rounded-md bg-blue-400  text-black flex items-center justify-center font-bold size-5">1
        </div>
        <div
          class="main-dot-third rounded-md bg-gray-300  text-black flex items-center justify-center font-bold size-5">2
        </div>
        <span class="material-symbols-outlined text-base text-gray-600 pl-7 ">content_copy</span>
      </div>
      <!-- <div class="border-l-4 border-gray-500"></div> -->
      <div class="inlineMain border-l ml-2.5 ">

        <div class="flex  flex-wrap items-center justify-start gap-3 text-xm font-bold text-black mt-1 ml-5">

          <div class="flex items-center gap-2 min-w-0 overflow-hidden">
            <span class="text-blue-400 truncate whitespace-nowrap overflow-hidden text-ellipsis max-w-[48px]">
              Flex-dr1123-LongTestingText
            </span>
            <span class="bg-gray-200  px-1.5 py-0.5 rounded">2</span>
          </div>

          <div class="flex items-center gap-2 min-w-0">
            <span class="material-symbols-outlined text-base text-gray-600 pr-4 ">content_copy</span>
            <span class="truncate max-w-[100px] ">JD3E0EPROO2KJHT45FCVF4</span>
            <span class="bg-gray-200 text-gray-700 text-xs px-1.5 py-0.5 rounded">2</span>
          </div>

        </div>


        <div class="flex flex-col items-start justify-start gap-1 border-l-4 border-transparent pl-3 mt-2   ">

          <div class="flex flex-wrap items-center justify-start gap-3 text-xm font-bold text-black ">
            <div class="flex items-center gap-1">
              <span class="material-symbols-outlined text-base text-gray-600">inventory_2</span>
              <span>195</span>
            </div>

            <div class="flex items-center gap-1">
              <span class="material-symbols-outlined text-base text-gray-600">event_upcoming</span>
              <span>04.03.2025</span>
            </div>

            <div class="flex items-center gap-1">
              <span class="material-symbols-outlined text-base text-gray-600">location_on</span>
              <span>A-230</span>
            </div>

            <div class="flex items-center gap-1">
              <span class="material-symbols-outlined text-base text-gray-600 ">shield</span>
              <span>ADR</span>
            </div>
          </div>

          <button class="flex items-center justify-center gap-1 bg-orange-400 hover:bg-orange-500 text-white text-sm font-bold px-3 py-2 mt-1 rounded-md shadow">
            <i class="bi bi-person-check" style="font-size: 14px;" ></i> 
            <!-- <i class="fa-duotone fa-light fa-circle-user-circle-check"></i> -->
            <span>NCM</span>
          </button>
          <!-- progress bar -->
          <div class=" progressBar flex flex-wrap items-center gap-1 mt-2">
            <div class="h-1.5 w-8 rounded-full bg-blue-400"></div>
            <div class="h-1.5 w-8 rounded-full bg-blue-400"></div>
            <div class="h-1.5 w-8 rounded-full bg-blue-400"></div>
            <div class="h-1.5 w-8 rounded-full bg-blue-400"></div>
            <div class="h-1.5 w-8 rounded-full bg-gray-300"></div>
            <div class="h-1.5 w-8 rounded-full bg-gray-300"></div>
            <div class="h-1.5 w-8 rounded-full bg-gray-300"></div>
            <div class="h-1.5 w-8 rounded-full bg-gray-300"></div>
          </div>
        </div>


      </div>
      <div class="border-l"></div>
      <div class="main-12 flex flex-wrap items-center justify-start w-full flex-row gap 1 mt-3 space-x-4">
        <div class="main-dot-first rounded-full bg-gray-300  flex items-center justify-center font-bold size-5 ">2</div>
        <div class="main-number-field text-sm font-bold ">FO 9610044308</div>
        <div class="main-dot-third rounded-md bg-blue-400  flex items-center justify-center font-bold size-5">6</div>
        <span class="material-symbols-outlined text-base text-gray-600 pl-10 ">content_copy</span>
      </div>


    </div>

    <!-- Footer Section -->
    <div class=" footer flex flex-wrap justify-start items-center border-t pt-2 mt-2 space-x-2 ">
      <span class="bg-lime-400 text-white text-xs px-2 py-1 tracking-wide font-bold rounded">CISTERNA</span>
      <span class="material-symbols-outlined" style="font-size: 20px;">local_shipping</span>
      <span class="text-black text-sm font-bold ">TEST LKW 11 | TEST AUF 11</span>
    </div>
  </div>

</div>