<div class="container" >
<div class="choice" id="step1" >
<!-- step1A -->
  <button type="button" [class.active-button]="activeTransportCategory === transportCategory.tank "
    (click)="handleFormControls( transportCategory.tank,'')" class="truckRecordActive text-sm font-semibold ">TANK / FLUSSING
  </button>
  <mat-icon class="truckIcon" *ngIf="activeTransportCategory === transportCategory.tank "
    style="margin:-10px 0px 0px -16px; color: rgb(40, 228, 38);">check_circle
  </mat-icon>
<!-- step1B -->
  <button type="button" [class.active-button]="activeTransportCategory === transportCategory.stuckGut "
    (click)="handleFormControls(transportCategory.stuckGut,'')" class="stuckGutActive text-sm font-semibold ">LKW / STUCKGUT
  </button>
  <mat-icon class="driverIcon" *ngIf="activeTransportCategory === transportCategory.stuckGut"
    style="margin: -10px 0px 0px -16px; color: rgb(40, 228, 38);" color="primary">check_circle
  </mat-icon>

</div>
<div class="tank" id="step2" *ngIf="activeTransportCategory === transportCategory.tank">
  <!-- step2A -->

  <button type="button" [class.active-button]="activeTankType === tankType.train "
    (click)="handleFormControls(tankType.train,'')" class="tankTrainActive text-sm font-semibold ">TANKZUNG
  </button>
  <mat-icon class="driverIcon" *ngIf="activeTankType === tankType.train"
    style="margin:-10px 0px 0px -16px; color: rgb(40, 228, 38);" color="primary">check_circle
  </mat-icon>
<!-- step2B -->

  <button type="button" [class.active-button]="activeTankType === tankType.container"
    (click)="handleFormControls(tankType.container,'')" class="tankContainerActive text-sm font-semibold ">TANKCONTAINER
  </button>
  <mat-icon class="driverIcon" *ngIf="activeTankType === tankType.container"
    style="margin:-10px 0px 0px -16px; color: rgb(40, 228, 38);" color="primary">check_circle
  </mat-icon>
</div>

<div class="LKW" id="step3" *ngIf="activeTransportCategory === transportCategory.stuckGut">
  <!-- step3A -->

  <button type="button" [class.active-button]="activeStuckgutType === stuckgutType.semiTrain "
    (click)="handleFormControls(stuckgutType.semiTrain,'')" class="semiTruck text-sm font-semibold ">SATTELZUG
  </button>
  <mat-icon class="driverIcon" *ngIf="activeStuckgutType === stuckgutType.semiTrain"
    style="margin: -10px 0px 0px -16px; color: rgb(40, 228, 38);" color="primary">check_circle
  </mat-icon>
<!-- step3B -->

  <button type="button" class="articulatedTrain text-sm font-semibold "
    [class.active-button]="activeStuckgutType === stuckgutType.articulatedTrain"
    (click)="handleFormControls(stuckgutType.articulatedTrain,'')">
    GLIEDERZUG
  </button>
  <mat-icon class="driverIcon" *ngIf="activeStuckgutType === stuckgutType.articulatedTrain"
    style="margin: -10px 0px 0px -16px; color: rgb(40, 228, 38);" color="primary">check_circle
  </mat-icon>
<!-- step3C -->

  <button type="button" [class.active-button]="activeStuckgutType === stuckgutType.transport"
    (click)="handleFormControls(stuckgutType.transport,'')" class="transPorter text-sm font-semibold">
    TRANSPORTER
  </button>
  <mat-icon class="driverIcon" *ngIf="activeStuckgutType === stuckgutType.transport"
    style="margin: -10px 0px 0px -16px; color: rgb(40, 228, 38);" color="primary">check_circle
  </mat-icon>
</div>


<div class="artculatedTrailer" id="3B" *ngIf="activeStuckgutType === stuckgutType.articulatedTrain">
  <!-- stepB1 -->

  <button type="button" class="withTrailer text-sm font-semibold "
    [class.active-button]="activeTrailerOption === trailerOption.withTrailer "
    (click)="handleFormControls(trailerOption.withTrailer,'')">
    MIT ANHANGER
  </button>
  <mat-icon *ngIf="activeTrailerOption === trailerOption.withTrailer"
    style="margin:-10px 0px 0px -16px; color: rgb(40, 228, 38);">check_circle
  </mat-icon>
<!-- stepB2-->
  <button type="button" class="withoutTrailer text-sm font-semibold "
    [class.active-button]="activeTrailerOption === trailerOption.withoutTrailer"
    (click)="handleFormControls(trailerOption.withoutTrailer,'')">OHNE ANHANGER
  </button>
  <mat-icon *ngIf="activeTrailerOption === trailerOption.withoutTrailer"
    style="margin:-10px 0px 0px -16px; color: rgb(40, 228, 38);">check_circle
  </mat-icon>
</div>

  <form [formGroup]="Form" (ngSubmit)="onSubmit()">

    <div class="tankZung activeTankZung"
      *ngIf="activeTransportCategory === transportCategory.tank && activeTankType === tankType.train">
      <div class="train" formGroupName="lkw">
        <mat-form-field *ngIf="Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>

        <mat-form-field *ngIf="!Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="lkw_select_input"
              (input)="onAllSearchFilter(this.tankType.train, $event)" />
            <mat-option *ngFor="let item of filteredTrains" [value]="item.id">
              {{ item.viewValue }}
            </mat-option>
            <mat-option *ngIf="filteredTrains.length === 0" (click)="addNewRecord(tankType.train)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.train)">
          {{ Form.get('lkw.is_new')?.value ? 'Neuer zugmaschine' : 'Neuer zugmachine' }}
        </mat-slide-toggle>
        <p>Payload lkw: <b>{{ Form.get('lkw')?.value | json }}</b></p>
      </div>

      <div class="trailer" formGroupName="auflieger"
        *ngIf=" activeStuckgutType === stuckgutType.semiTrain || activeTankType === tankType.train || activeTankType === tankType.container ">
        <mat-form-field *ngIf="Form.get('auflieger.is_new')?.value" style="width: 100%">
          <mat-label>AUFLIEGER NR. | KFZ-NR NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>
        <mat-form-field *ngIf="!Form.get('auflieger.is_new')?.value" style="width: 100%">
          <mat-label>AUFLIEGER NR. | KFZ-NR SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="auflieger_select_input"
              (input)="onAllSearchFilter(this.tankType.container, $event)" />
            <mat-divider></mat-divider>
            <mat-option *ngFor="let item of filteredTrailers" [value]="item.id">{{ item.viewValue }}</mat-option>
            <mat-option *ngIf="filteredTrailers.length === 0" (click)="addNewRecord(tankType.container)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.container)">
          {{ Form.get('auflieger.is_new')?.value ? 'Neuer Auflieger' : 'Neuer Auflieger' }}
        </mat-slide-toggle>
        <p>Payload Auflieger <b>{{ Form.get('auflieger')?.value | json }}</b></p>
      </div>
    </div>
    <div class="tankContainer allcombine container-active"
      *ngIf="activeTransportCategory === transportCategory.tank && activeTankType === tankType.container">
      <div class="train" formGroupName="lkw">
        <mat-form-field *ngIf="Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>

        <mat-form-field *ngIf="!Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="lkw_select_input"
              (input)="onAllSearchFilter(this.tankType.train, $event)" />
            <mat-option *ngFor="let item of filteredTrains" [value]="item.id">
              {{ item.viewValue }}
            </mat-option>
            <mat-option *ngIf="filteredTrains.length === 0" (click)="addNewRecord(tankType.train)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.train)">
          {{ Form.get('lkw.is_new')?.value ? 'Neuer zugmaschine' : 'Neuer zugmachine' }}
        </mat-slide-toggle>
        <p>Payload lkw: <b>{{ Form.get('lkw')?.value | json }}</b></p>
      </div>

      <div class="trailer" formGroupName="auflieger">
        <mat-form-field *ngIf="Form.get('auflieger.is_new')?.value" style="width: 100%">
          <mat-label>AUFLIEGER NR. | KFZ-NR NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>
        <mat-form-field *ngIf="!Form.get('auflieger.is_new')?.value" style="width: 100%">
          <mat-label>AUFLIEGER NR. | KFZ-NR SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="auflieger_select_input"
              (input)="onAllSearchFilter(this.tankType.container, $event)" />
            <mat-divider></mat-divider>
            <mat-option *ngFor="let item of filteredTrailers" [value]="item.id">{{ item.viewValue }}</mat-option>
            <mat-option *ngIf="filteredTrailers.length === 0" (click)="addNewRecord(tankType.container)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.container)">
          {{ Form.get('auflieger.is_new')?.value ? 'Neuer Auflieger' : 'Neuer Auflieger' }}
        </mat-slide-toggle>
        <p>Payload Auflieger <b>{{ Form.get('auflieger')?.value | json }}</b></p>
      </div>
      <div class="containerInput">
        <mat-form-field style="width: 100%;">
          <mat-label>Tankcontainer</mat-label>
          <input matInput formControlName="containerNumber" placeholder="Tankcontainer" maxlength="13">
          <mat-hint align="start">Format: AAAU 999 999 9</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="sattelzug  allcombine semitruck-active "
      *ngIf="activeTransportCategory === transportCategory.stuckGut && activeStuckgutType=== stuckgutType.semiTrain ">
      <div class="train" formGroupName="lkw">
        <mat-form-field *ngIf="Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>

        <mat-form-field *ngIf="!Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="lkw_select_input"
              (input)="onAllSearchFilter(this.tankType.train, $event)" />
            <mat-option *ngFor="let item of filteredTrains" [value]="item.id">
              {{ item.viewValue }}
            </mat-option>
            <mat-option *ngIf="filteredTrains.length === 0" (click)="addNewRecord(tankType.train)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.train)">
          {{ Form.get('lkw.is_new')?.value ? 'Neuer zugmaschine' : 'Neuer zugmachine' }}
        </mat-slide-toggle>
        <p>Payload lkw: <b>{{ Form.get('lkw')?.value | json }}</b></p>
      </div>

      <div class="trailer" formGroupName="auflieger">
        <mat-form-field *ngIf="Form.get('auflieger.is_new')?.value" style="width: 100%">
          <mat-label>AUFLIEGER NR. | KFZ-NR NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>
        <mat-form-field *ngIf="!Form.get('auflieger.is_new')?.value" style="width: 100%">
          <mat-label>AUFLIEGER NR. | KFZ-NR SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="auflieger_select_input"
              (input)="onAllSearchFilter(this.tankType.container, $event)" />
            <mat-divider></mat-divider>
            <mat-option *ngFor="let item of filteredTrailers" [value]="item.id">{{ item.viewValue }}</mat-option>
            <mat-option *ngIf="filteredTrailers.length === 0" (click)="addNewRecord(tankType.container)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.container)">
          {{ Form.get('auflieger.is_new')?.value ? 'Neuer Auflieger' : 'Neuer Auflieger' }}
        </mat-slide-toggle>
        <p>Payload Auflieger <b>{{ Form.get('auflieger')?.value | json }}</b></p>
      </div>
      <div class="semiTrain">
        <mat-form-field style="width: 100%;">
          <mat-label>Bitte Auflieger wahlen</mat-label>
          <mat-select formControlName="select_semiTrain" required>
            <mat-option *ngFor="let item of semiTrain" [value]="item.id">{{item.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Payload Bitte Auflieger wahlen <b>{{ Form.get('select_semiTrain')?.value | json }}</b></p>
      </div>
    </div>
    <div class="mitanhanger allcombine withTrailer-active" 
    *ngIf="activeTransportCategory ===  transportCategory.stuckGut
     && activeStuckgutType === stuckgutType.articulatedTrain
      && activeTrailerOption === trailerOption.withTrailer ">
        <div class="tractorr">
          <mat-form-field style="width: 100%;">
            <mat-label>Bitte Zugmaschine wahlen</mat-label>
            <mat-select formControlName="select_tractor" required>
              <mat-option *ngFor="let item of tractor" [value]="item.id">{{item.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p>Payload Bitte Zugmaschine wahlen <b>{{ Form.get('select_tractor')?.value | json }}</b></p>
        </div>
        <div class="trainn " formGroupName="lkw">
          <mat-form-field *ngIf="Form.get('lkw.is_new')?.value" style="width: 100%">
            <mat-label>LKW ZUGMASCHINE WAHLEN NAME</mat-label>
            <input matInput formControlName="value" required />
          </mat-form-field>

          <mat-form-field *ngIf="!Form.get('lkw.is_new')?.value" style="width: 100%">
            <mat-label>LKW ZUGMASCHINE WAHLEN SEL</mat-label>
            <mat-select formControlName="value" required>
              <input matInput [formControl]="lkw_select_input"
                (input)="onAllSearchFilter(this.tankType.train, $event)" />
              <mat-option *ngFor="let item of filteredTrains" [value]="item.id">
                {{ item.viewValue }}
              </mat-option>
              <mat-option *ngIf="filteredTrains.length === 0" (click)="addNewRecord(tankType.train)">
                Add a new Train
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.train)">
            {{ Form.get('lkw.is_new')?.value ? 'Neuer zugmaschine' : 'Neuer zugmachine' }}
          </mat-slide-toggle>
          <p>Payload lkw: <b>{{ Form.get('lkw')?.value | json }}</b></p>
        </div>
      

        <div class="semiTrainn">
          <mat-form-field style="width: 100%;">
            <mat-label>Bitte Auflieger wahlen</mat-label>
            <mat-select formControlName="select_semiTrain" required>
              <mat-option *ngFor="let item of semiTrain" [value]="item.id">{{item.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p>Payload Bitte Auflieger wahlen <b>{{ Form.get('select_semiTrain')?.value | json }}</b></p>
        </div>
        <div class="tractorNumberr " formGroupName="muldenNumber">

          <mat-form-field *ngIf="Form.get('muldenNumber.is_new')?.value" style="width: 100%">
            <mat-label>MULDEN NUMBER INP</mat-label>
            <input matInput formControlName="value" required />
          </mat-form-field>
          <mat-form-field *ngIf="!Form.get('muldenNumber.is_new')?.value" style="width: 100%">
            <mat-label>MULDEN NUMBER SEL</mat-label>
            <mat-select formControlName="value" required>

              <input matInput [formControl]="muldenNumber_select_input"
                (input)="onAllSearchFilter(trailerOption.withTrailer, $event)" />
              <mat-option *ngFor="let item of filteredmuldenNumber" [value]="item.id">{{ item.viewValue }}</mat-option>

              <mat-option *ngIf="filteredmuldenNumber.length === 0"
                (click)="addNewRecord(trailerOption.withTrailer)">
                Add a new muldenNumber
              </mat-option>

            </mat-select>
          </mat-form-field>

          <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.trailerOption.withTrailer)">
            {{ Form.get('muldenNumber.is_new')?.value ? 'Neuer Tractor' : 'Neuer Tractor' }}
          </mat-slide-toggle>
          <p>Payload Mulden: <b>{{ Form.get('muldenNumber')?.value | json }}</b></p>

        </div>
      </div>
    <div class="ohneanhanger allcombine withoutTrailer-active " *ngIf="activeTransportCategory === transportCategory.stuckGut && activeStuckgutType === stuckgutType.articulatedTrain
     && activeTrailerOption === trailerOption.withoutTrailer ">
      <div class="tractor">
        <mat-form-field style="width: 100%;">
          <mat-label>Bitte Zugmaschine wahlen</mat-label>
          <mat-select formControlName="select_tractor" required>
            <mat-option *ngFor="let item of tractor" [value]="item.id">{{item.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
          <p>Payload Bitte Zugmaschine wahlen <b>{{ Form.get('select_tractor')?.value | json }}</b></p>
      </div>
      <div class="trainn" formGroupName="lkw">
        <mat-form-field *ngIf="Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN NAME</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>

        <mat-form-field *ngIf="!Form.get('lkw.is_new')?.value" style="width: 100%">
          <mat-label>LKW ZUGMASCHINE WAHLEN SEL</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="lkw_select_input"
              (input)="onAllSearchFilter(this.tankType.train, $event)" />
            <mat-option *ngFor="let item of filteredTrains" [value]="item.id">
              {{ item.viewValue }}
            </mat-option>
            <mat-option *ngIf="filteredTrains.length === 0" (click)="addNewRecord(tankType.train)">
              Add a new Train
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.tankType.train)">
          {{ Form.get('lkw.is_new')?.value ? 'Neuer zugmaschine' : 'Neuer zugmachine' }}
        </mat-slide-toggle>
        <p>Payload lkw: <b>{{ Form.get('lkw')?.value | json }}</b></p>
      </div>
    </div>
    <div class="transporterDiv"
      *ngIf=" activeTransportCategory === transportCategory.stuckGut &&
       activeStuckgutType === stuckgutType.transport">
      <div class="transporterType" >
        <mat-form-field style="width: 100%;">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type_ctrl" required>
            <mat-option *ngFor="let item of type" [value]="item.id">{{item.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Payload type: <b>{{ Form.get('type_ctrl')?.value | json }}</b></p>
      </div>
      <div class="transporterCtrl" formGroupName="transporterGrp">

        <mat-form-field *ngIf="Form.get('transporterGrp.is_new')?.value" style="width: 100%">
          <mat-label>Transporter Name</mat-label>
          <input matInput formControlName="value" required />
        </mat-form-field>

        <mat-form-field *ngIf="!Form.get('transporterGrp.is_new')?.value" style="width: 100%">
          <mat-label>Select Transporter</mat-label>
          <mat-select formControlName="value" required>
            <input matInput [formControl]="transporterGrp_select_input"
              (input)="onAllSearchFilter(this.stuckgutType.transport, $event)" />
            <mat-option *ngFor="let item of filterTransports" [value]="item.id">{{ item.viewValue }}</mat-option>
            <mat-option *ngIf="filterTransports.length === 0" (click)="addNewRecord(stuckgutType.transport)">
              Add a new Tansporter
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="is_new" (change)="onAllToggle(this.stuckgutType.transport)">
          {{ Form.get('transporterGrp.is_new')?.value ? 'Neuer transporter' : 'Neuer transporter' }}
        </mat-slide-toggle>
        <p>Payload transporter: <b>{{ Form.get('transporterGrp')?.value | json }}</b></p>
      </div>
    </div>
    <button mat-raised-button style="margin-left: 240px" *ngIf="activeSubmitButton" color="primary" [disabled]="Form.invalid">Submit</button>
  </form>
</div>